@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);

body,
h1,
h2,
.leaflet-popup-content {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  width: 100%;
  font-size: 1.5rem;
}

#map {
  width: 100%;
  height: 100%;
}

.map-wrapper {
  width: 100%;
  height: 50vh;
}

.restaurants .listing {
  top: 3.9rem;
  position: relative;
  width: 100%;
  height: calc(50vh - 3.9rem);
  overflow-y: scroll;
}

.restaurant.active {
  background-color: green;
}

@media (min-width: 40em) {
  .map-wrapper {
    height: 100vh;
  }

  .restaurants .listing {
    height: calc(100vh - 3.9rem);
  }

  .map-wrapper {
    width: 66.66667%;
  }

  .restaurants .listing {
    width: 33.33333%;
  }
}
